.github/
.husky/
.marscode/
.qodo/
.git/
.next/
node_modules/
.prettierrc
commitlint.config.js
components.json
dockerfile
.dockerignore
eslint.config.mjs
jest.config.ts
jest.setup.ts
next-env.d.ts
README.md
.gitignore